body {
    margin: auto;
}

.top-header {
    background-image: url(/img/pattern.png);
    background-color: #000;
    margin-bottom: 5%;
    padding: 20px;
    margin-bottom: 2%;
}


div {
    width: 80%;
    margin: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000
}

div .description {
    color: #5f5f5f;
    font-size: 12px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    font-size: 28px;
    line-height: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #5f5f5f;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

table {
    text-align: left;
}

.table-heading {
    background-color: #89a7ff;
    color: #fff;
}

.dark-blue {
    background-color: #c9d2ff;
    color: #000;
}

.light-blue {
    background-color: #e4e8ff;
    color: #000;
}

#bottom-page {
    text-color: white;
    background-color: black;
    height: 50px;
    margin: auto;
    text-align: center;
    padding: 30px;
}